@import "tailwindcss";

@layer base {

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
}

@theme {
  --font-sans: var(--font-jakarta), var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  /* White */
  --foreground: #0a0a0a;
  /* Near Black */

  --primary: #0a0a0a;
  /* Black for dashboard buttons */
  --primary-foreground: #ffffff;

  --secondary: #f1f5f9;
  /* Light gray */
  --secondary-foreground: #0f172a;

  --muted: #f1f5f9;
  /* Slate 100 */
  --muted-foreground: #64748b;
  /* Slate 500 */

  --card: #ffffff;
  --card-foreground: #0a0a0a;

  --border: #e2e8f0;
  /* Slate 200 */
  --input: #e2e8f0;
  --ring: #0a0a0a;

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    /* pure black */
    --foreground: #ffffff;
    /* white */

    --primary: #5227ff;
    --primary-foreground: #ffffff;

    --secondary: #34d399;
    /* Emerald 400 */
    --secondary-foreground: #0f172a;

    --muted: #1e293b;
    /* Slate 800 */
    --muted-foreground: #94a3b8;
    /* Slate 400 */

    --card: #0a0a0a;
    /* Slate 950 */
    --card-foreground: #ffffff;

    --border: #334155;
    /* Slate 700 */
    --input: #334155;
    --ring: #5227ff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme {
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;

  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }

    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }

    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }

    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
}